$font-stack: "Lucida Calligraphy", Helvetica, sans-serif;
$primary-color: #333;
$border-columns: 2px solid black;
$background: rgba(0, 0, 0, 0.4);

body {
  font: 100% $font-stack;
  color: $primary-color;
  // background-image: url("http://self-inspiration.com/bundles/selfinspiration/article_pictures/71.jpg");
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  li {
      list-style: none outside none;
  } 
}
#box {
  
}
.content {
  overflow: hidden;
}

#sidebar {

   p{
    color: teal;
  }
}

.songInfo {
  background-color: white;
  border-radius: 5em;
  padding: 10px;
  margin-top: 10px;
  width: 40em;
  text-align: center;
  border: 2px solid tomato;
}



#filter {
  border: $border-columns;
  font-family: Arial;
  font-size: 18px;
}

#navbar {
  background-color: tomato;
  li a{
    color: white;
  }
  padding: 2em;
}

#main {
  overflow: scroll;
   p {
    color: teal;
  }
  #songTitle {
    color: brown;
    opacity: 0.6;
    line-height: 50%;

  }
}

.glyphicon-trash {
  display: none;
  color: crimson;
  background-color: transparent;
}
.glyphicon-trash:hover {
  font-size: 16px;
  cursor: pointer;
}
