$font-stack: "Lucida Calligraphy", Helvetica, sans-serif;
$primary-color: #333;
$border-columns: 2px solid black;
$background: rgba(0, 0, 0, 0.4);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-image: url("http://en.mallofsofia.bg/uploads/story/29/thumbs/back_background.jpg");
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  li {
      color: white;
      list-style: none outside none;
  } 
}

#box {
  
}
.content {
  overflow: hidden;
}

#sidebar {

   p{
    color: white;
  }
}

.submitArtist {
  background-color: none;
  border: none;
  
}

.songInfo {
  border-radius: 5em;
  padding: 10px;
  margin-top: 10px;
  width: 40em;
  text-align: center;
  letter-spacing: 3px;
    h3 {
      color: white;
    }
    small {
      color: white;
    }
}



#filter {
  border: $border-columns;
  font-family: Arial;
  font-size: 18px;
}

#navbar {
  border: none;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
  li a{
    color: white;
  }
  padding: 2em;
}

#main {
  overflow: scroll;
   p {
    color: burlywood;
  }
  #songTitle {
    color: burlywood;
    opacity: 0.6;
    line-height: 50%;

  }
}

.glyphicon-trash {
  color: crimson;
  background-color: transparent;
}
.glyphicon-trash:hover {
  font-size: 16px;
  cursor: pointer;
}
