  {{#each songs}}
  <div>
    <h3 id="songTitle">{{title}} ({{album.year}})</h3>
    <p>Performed by {{artist}} on the album {{album.name}}</p>
    <button class='delButton'>Delete</button>
  </div>
  {{/each}}
